./frontend/node_modules
./frontend/package-lock.json
./frontend/src/firebase.js
./frontend/vite.config.js

./env

./docker-compose.yml
./Dockerfile.backend
./Dockerfile.frontend

./backend/node_modules
./backend/package-lock.json
./backend/ServiceAccountKey.json